.leaderboard-screen {
  text-align: center;
  padding: 20px;
}

.leaderboard-screen h1 {
  color: var(--primary-color);
}

.leaderboard-screen ul {
  list-style: none;
  padding: 0;
}

.leaderboard-screen li {
  margin: 10px 0;
  font-size: 18px;
}

.leaderboard-screen p {
  color: var(--text-color); /* Bruger farve fra colors.css */
}