/* index.css */
@import './styles/global.css';
@import './styles/colors.css';

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color); /* Brug farve fra colors.css */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Courier New", Courier, monospace; /* Rettet font-family */
}